In [1]:
import numpy as np
import pandas as pd

# Pandas Series 객체

In [2]:
data=pd.Series([0.25,0.5,0.75,1.0])   #인덱싱된 데이터의 1차원 배열
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
#각각 values 와 index 속성으로 접근 가능하다.
#values 는 NumPy배열이다
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data[1]

0.5

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [7]:
#일반화된 NumPy 배열
data=pd.Series([0.25,0.5,0.75,1.0],
              index=['a','b','c','d'])    #인덱스로 어떤 타입의 값으로도 구성 가능 
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
data['b']

0.5

In [9]:
data=pd.Series([0.25,0.5,0.75,1.0],
              index=[2,5,3,7])   #인접하지 않거나 연속적이지 않은 인덱스 사용 가능
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [10]:
data[5]

0.5

In [11]:
#특수한 딕셔너리
#딕셔너리 : 일련의 임의의 값에 임의의 키를 매핑하는 구조
#Series : 타입이 지정된 키를 일련의 타입이 지정된 값에 매핑하는 구조
population_dict={'California': 38332521,
                'Texas': 26448193,
                'New York': 19651127,
                'Florida': 19552860,
                'Illinois': 12882135}
population=pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [12]:
population['California']

38332521

In [13]:
#슬라이싱 같은 배열 스타일의 연산 지원
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [14]:
#Series 객체 구성 -> pd.Series(data,index=index)
#data는 리스트나 NumPy 배열일 수 있고, 이 경우 index는 정수가 기본
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [15]:
#data는 지정된 인덱스를 채우기 위해 반복되는 스칼라값일 수 있다
pd.Series(5,index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [16]:
#data는 딕셔너리일 수도 있다, 이 경우 index는 기본적으로 딕셔너리 키를 정렬해서 취한다
pd.Series({2:'a',1:'b',3:'c'})

2    a
1    b
3    c
dtype: object

In [17]:
#명시적으로 정의된 키로만 채울 수 있다
pd.Series({2:'a',1:'b',3:'c'},index=[3,2])

3    c
2    a
dtype: object

# Pandas DataFrame 객체

In [18]:
#DataFrame: 일반화된 NumPy 배열
area_dict={'California': 423967,
           'Florida': 170312,
           'Illinois': 149995,
           'New York': 141297,
           'Texas': 695662}
area=pd.Series(area_dict)
area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
dtype: int64

In [19]:
#딕셔너리를 사용해 이 정보를 포함하는 하나의 2차원 객체를 구성할 수 있다.
states=pd.DataFrame({'population':population,
                    'area':area})
states

            population    area
California    38332521  423967
Florida       19552860  170312
Illinois      12882135  149995
New York      19651127  141297
Texas         26448193  695662

In [20]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [21]:
#열 레이블을 가지고 있는 index객체인 column 속성을 가지고 있다
states.columns

Index(['population', 'area'], dtype='object')

In [22]:
#특수한 딕셔너리 
#2차원 NumPy 배열에서는 data[0]이 첫 번째 행을 반환하지만 DataFrame의 경우에는 data['col0']이 첫 번째 열을 반환한다.
states['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [23]:
#DataFrame 객체 구성
pd.DataFrame(population,columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [24]:
#딕셔너리의 리스트는 DataFrame으로 만들 수 있다
data=[{'a':i,'b':2*i}
     for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [25]:
#딕셔너리의 일부 키가 누락되더라도 Pandas는 누락된 자리를 NaN값으로 채운다
pd.DataFrame([{'a':1,'b':2},{'b':3,'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [26]:
pd.DataFrame({'population':population,
             'area':area})

            population    area
California    38332521  423967
Florida       19552860  170312
Illinois      12882135  149995
New York      19651127  141297
Texas         26448193  695662

In [27]:
#데이터의 2차원 배열이 주어지면 지정된 열과 인덱스 이름을 가진 DataFrame을 생성할 수 있다
pd.DataFrame(np.random.rand(3,2),
            columns=['foo','bar'],
            index=['a','b','c'])     #만약 생략될 경우 각각에 대해 정수 인덱스가 사용된다

        foo       bar
a  0.811368  0.815879
b  0.648502  0.672672
c  0.306385  0.317550

In [28]:
A=np.zeros(3,dtype=[('A','i8'),('B','f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [29]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

# Pandas Index 객체

In [30]:
ind=pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [31]:
#Index: 불변의 배열
ind[1]

3

In [32]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [33]:
print(ind.size,ind.shape,ind.ndim,ind.dtype)

5 (5,) 1 int64

In [34]:
#Index객체는 일반적인 방법으로는 변경될 수 없는 불변의 값이다
#ind[1]=0 을 실행 할 경우 오류 발생
#Index: 정렬된 집합
indA=pd.Index([1,3,5,7,9])
indB=pd.Index([2,3,5,7,11])
indA & indB   #교집합

Int64Index([3, 5, 7], dtype='int64')

In [35]:
indA | indB   #합집합

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [36]:
indA ^ indB  #대칭 차(두 집합의 상대 여집합의 합)

Int64Index([1, 2, 9, 11], dtype='int64')